@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0px;

    box-sizing: border-box;
}

nav {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: red;
    color: white;
    position: fixed;


}

nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

li {


    padding-right: 40px;
    font-size: 22px;
    letter-spacing: 1px;




}

nav ul li a {
    color: white;
    text-decoration: none;
}

.logo a {
    color: rgb(255, 251, 251);
    padding: 40px;
    font-size: 29px;
    text-decoration: none;
    letter-spacing: 1px;

}

.container {

    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;



}

section div {
    background-color: #008080;
    overflow: hidden;

}

.mainheading {

    align-items: center;
    padding: 0px;
    font-size: 50px;




}

div span {
    font-size: 45;
    font-weight: lighter;
    color: white;


}

.subheading {
    font-size: 25px;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0px 0px #050505;
    font-weight: bold;

}

h4 {
    font-size: 50px;
    letter-spacing: 2px;

}

.btn {
    background-color: #0a0a23;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
    user-select: none;
}

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.2s ease;
}

.btn:hover {
    transform: translate(-12px, -12px)
}

.btn:hover::after {

    transform: translate(6px, 6px)
}

.btn:hover::before {
    transform: translate(12px, 12px)
}

.second-container {
    background-color: black;
}

.caption {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

/* 
signin */

.page2 {
    background-color: aqua;
    height: 550px;
    width: 100%
}

.page2 div {
    background-color: aqua;

}

.subdiv {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
   

}
.subdiv p{
    font-family: serif;
    font-size: 40px;
    letter-spacing: 1px;
    
    
}
.subdiv label{
    font-size: 30px;
    letter-spacing: 0.1em;
    padding: 10px;

    

}
.subdiv input{
    height:25px;
    width: 330px;
    border-radius: 5px;
    padding: 10px;;

}
#forgotPass{
    font-size: 21px;
    padding : 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    background-color: #9FE2BF;
    height:35px;
    width: 290px;
    border-radius: 5px;
    font-size: 18px;
    font-family: serif;
    letter-spacing: 2px;
    transition: 0.2s;
    cursor:pointer;
}
.page3 div {
    
        background-color:green;
        height: 550px;
        width: 100%
    }
.maindivp3{
    padding: 10px;
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;


}
.subdivp3{
    
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    
        
}
#title{

    font-size: 80px;
    align-self: flex-start;
    
    
    

}
#subCaption{
    font-size: 25px;
    font-family: sans-serif;
    align-self: flex-start;
    padding: 10px;
}
#newSettlerMail{
    align-self: flex-start;
    padding:10px;
    border-radius:5px;
    width: 500px;
    height:40px
   
    
    
}
#subscribe {
   
    margin-right: auto;
    margin-top:  15px;
    border-radius: 5px;
    color: black;
   align-self: flex-start;
    

}
.gridTwo{
    padding:10px;
   

}
.regDetails{
    padding :10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#regTitle{
    padding: 10px;
    font-family: 'Gantari', sans-serif;
    font-size: 50px;
    align-self: flex-start;
    
}

.formlabel{
    padding :2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    align-self: flex-start;
    margin-top: 12px;;
    
    
}
.forminput{
    padding: 2px;
    border-radius: 3px;
    width: 350px;
    height: 30px;
align-self: flex-start;
margin-top:10px
}
#Registraionbtn{
    margin-top: 15px;
    align-self: flex-start;
    font-family: 'Times New Roman', Times, serif;

    
}
    
    
    
    
